@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--poppins), "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bg-custom-grey {
  background-color: rgba(235, 235, 235, 1);
}

.transparent-bg {
  background: rgb(240, 240, 240);
}

[data-overlay-container="true"] {
  height: 100%;
  width: 100%;
}

.grid-view {
  display: grid;
  gap: 2.6rem;
  grid-template-columns: repeat(3, 1fr);
  overflow: auto;
}

.maxlines-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

::-webkit-scrollbar {
  width: 0.5rem;
  max-height: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
}

::-webkit-scrollbar-track {
  border-radius: 2rem;
}

.intl-phone-input .PhoneInputInput {
  --tw-bg-opacity: 1;
  background-color: hsl(
    var(--heroui-default-100) /
      var(--heroui-default-100-opacity, var(--tw-bg-opacity))
  );
  outline: none;
}

.integration-detail-grid-view {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0rem;
  overflow: auto;
}
