@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue: #3d5fff;
  --border-color: #dee3e7;
  --border-grey: #e0e0e0;
  --background-lightGrey: #f2f2f2;
  --green: #79c736;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--poppins), "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bg-custom-grey {
  background-color: rgba(235, 235, 235, 1);
}

.transparent-bg {
  background: rgb(240, 240, 240);
}

[data-overlay-container="true"] {
  height: 100%;
  width: 100%;
}

.grid-view {
  display: grid;
  gap: 2.6rem;
  grid-template-columns: repeat(3, 1fr);
  overflow: auto;
}

.maxlines-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

::-webkit-scrollbar {
  width: 0.5rem;
  max-height: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #3d475145;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #6c87a0;
}

::-webkit-scrollbar-track {
  border-radius: 2rem;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.intl-phone-input .PhoneInputInput {
  outline: none;
}

.integration-detail-grid-view {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0rem;
  overflow: auto;
}

.Toastify__toast {
  padding: 0px !important;
  border-radius: 4px !important;
  /* min-height: 60px !important; */
  --tw-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.15);
  --tw-shadow-colored: 0px 2px 18px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.Toastify__toast-container--top-right {
  top: 40px !important;
  right: 30px !important;
}

.Toastify__toast-body {
  margin: 0px !important;
  padding: 0px !important;
}

.toast-container {
  /* min-height: 60px; */
  display: flex;
}

.toast-identifier {
  min-height: 65px;
  width: 6px;
  margin-right: 16px;
}

.toast-identifier.success {
  background-color: #007c52;
}

.toast-identifier.error {
  background-color: #d71616;
}

.toast-body {
  padding-right: 8px;
}

.partner-grid-view {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
  -webkit-box-pack: start;
  place-content: flex-start;
  max-height: calc(100dvh - 28rem);
  overflow: auto;
}

.partner-img {
  width: 105px;
  height: 105px;
  transition: all 0.2s ease 0s;
}

.partner-img:hover {
  width: 100px;
}

.stepper .step:first-of-type {
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border-left: 1px solid var(--border-color);
}

.stepper .step:last-of-type {
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-right: 1px solid var(--border-color);
}

.stepper .step:not(:last-of-type)::before {
  content: " ";
  display: block;
  width: 0px;
  height: 0px;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-left: 1.5rem solid var(--border-color);
  position: absolute;
  bottom: 0px;
  z-index: 1;
  right: -2.3rem;
}

.stepper .step:not(:last-of-type)::after {
  content: " ";
  display: block;
  width: 0px;
  height: 0px;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-left: 1.5rem solid white;
  position: absolute;
  bottom: 0px;
  z-index: 2;
  right: -2.25rem;
}

.stepper .step:not(:first-of-type) {
  padding-left: 3rem;
}

.stepper .step.active .step-number {
  opacity: 1;
  color: #ffffff;
  background-color: var(--blue);
  border: 1px solid var(--blue);
}

.stepper .step.completed .step-number {
  background-color: var(--green);
  border: 1px solid var(--green);
}

.stepper .step.active .step-title,
.stepper .step.completed .step-title {
  color: var(----foreground);
}

.stepper .step-number {
  color: #b9b9b9;
  background-color: #f2f2f2;
  border: 1px solid var(--border-color);
  transition: 0.3s;
  opacity: 1;
}

.stepper .step-title {
  color: #b9b9b9;
}

.stepper .step {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-color: var(--border-color);
  border-bottom-color: var(--border-color);
}

.form-date-picker [data-slot="base"] [data-slot="input-wrapper"] {
  border-radius: 5px;
  box-shadow: none;
  border-width: 1px;
  border-color: var(--border-grey);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.modal-backdrop {
  backdrop-filter: blur(1.5px);
  background-color: hwb(0deg 15.94% 84.06% / 25%);
}
